[submodule "third_party/leveldb"]
	path = third_party/leveldb
	url = https://github.com/google/leveldb
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
